body {
    background-color: #014550;
    font-family: "Outfit", sans-serif;
}


form {
    width: 350px;
    max-width: 350px;
    background-color: #ffffff;
    margin: 5% auto;
    /*10% top y buttom y auto para derecha e izquiera dependiendo del espacio disponible osea al redimensionar la pantalla*/
    padding-bottom: 2px;

}

.title {
    padding-top: 5px;
    padding-bottom: 0%;
    color: #014550;
    font-family: "Outfit", sans-serif;
    text-align: center;
}

.footer-active {
    background-color: #024954;

}

.input-group {
    text-align: center;
    font-family: "Outfit", sans-serif;
    margin: 30px 0 0 10px;
}

.input-active-controllers {
    margin-top: 10px;

}

#phone,
#email,
#pass,
#name,
#identifier,
#job-roles {

    /*los px son mejores que los vh por que aunque redimencionemos la pantalla el div conservaran su tamaño */
    height: 27px;
    border: 2px solid #014550;
    border-radius: 7px;
    background-color: #e8f0fe;
    text-align: center;

}

.button-action {
    height: 84px;
    display: block;
    padding-top: 5px;
    /*block: ocupa todo el ancho disponible del div y no permite a nadie a su lado*/
}

[btn="btn-submit"] {
    /* background-color: #419356;*/
    width: 0px;
    height: 30px;
    margin-top: 6px;
    padding-left: 140px;
}

[btn="btn-bttn"] {
    /*background-color: red;*/
    width: 0px;
    height: 30px;
    margin-top: 6px;
    padding-left: 140px;

}

[type="button"],
[type="submit"] {
    background-color: #014550;
    width: 70px;
    margin: 3px;
    height: 30px;
    border: black 2px solid;
    border-radius: 8px;
    color: #ffffff;
}

[ type="submit"]:hover,
[ type="button"]:hover {

    background-color: #ffa600;
    cursor: pointer;
    color: black;
}